@charset "utf-8";

/* common style */
img {
  max-width: 100%;
}

header h1 {
  margin: 1rem;
  padding: 0.5rem;
  text-align: center;
}

body h2 {
  border-bottom-color: gray;
  border-bottom-style: solid;
}

.logo {
  height: 10vw;
}

.wrapper {
  max-width: 100%;
  padding: 0 5%;
}

.input-list {
  display: flex;
  font-size: 1rem;
  margin-top: 25px;
  list-style: none;
}
.input-list li {
  margin: 20px;
  width: 60px;
  text-align: center;
}
.input-list a {
  color: #000;
}
.input-list a:hover {
  color: #08d;
}
.nav-logo {
  text-align: center;
  height: 50px;
}


/* style on summary table */
.table-field {
  margin-left: 5%;
  margin-right: 5%;
}

.summary-table-wrap {
  padding-right: 10px;
  max-height: 50vw;
  overflow: auto;
  overflow-x: scroll;
  overflow-y: scroll;
}

.summary-table {
  background-color: #fff;
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
.summary-table thead tr th {
  position: sticky;
  top: 0;
}
.summary-table th,
.summary-table tr,
.summary-table td {
  text-align: center;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.summary-table th {
  background-color: #bbb;
}
.summary-table tr:nth-child(odd) {
  background-color: #eee;
}

.table-data-date {
  width: 150px;
}
.table-data-date input {
  width: 100%;
  box-sizing: border-box;
  background: transparent;
  border: none;
}
.table-data-date input::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.table-data-date input::-webkit-calendar-picker-indicator:hover {
  opacity: 100;
}

.table-data-name {
  width: 275px;
}
.table-data-name select {
  width: 90%;
  background: transparent;
  border: none;
  -webkit-appearance: none;
}
.table-data-name select:hover {
  -webkit-appearance: auto;
}

.table-data-amount {
  width: 100px;
}
.table-data-amount input {
  width: 90%;
  box-sizing: border-box;
  background: transparent;
  border: none;
  text-align: right;
}

.table-data-operations {
  width: 25px;
}

.delete-button {
  height: 1rem;
  width: 1rem;
}
.delete-button:hover {
  cursor: pointer;
  opacity: 50%;
}

.table-bottom {
  display: flex;
  justify-content: space-between;
}

#add-button {
  height: 25px;
  width: 25px;
}
#add-button:hover {
  cursor: pointer;
  opacity: 50%;
}

#update-button {
  width: 75px;
}
