@charset "utf-8";

/* common style */
img {
  max-width: 100%;
}

.custom-button:hover {
  cursor: pointer;
  opacity: 50%;
}

/* style on base.html */
header h1 {
  margin: 1rem;
  padding: 0.5rem;
  text-align: center;
}

body h2 {
  border-bottom-color: gray;
  border-bottom-style: solid;
}

.logo {
  height: 10vw;
}

.content {
  max-width: 100%;
  padding: 0 5%;
}

/* style on index.html */
.input-list {
  display: flex;
  font-size: 1rem;
  margin-top: 25px;
  list-style: none;
}
.input-list li {
  margin: 20px;
  width: 60px;
  text-align: center;
}
.input-list a {
  color: #000;
}
.input-list a:hover {
  color: #08d;
}

.nav-logo {
  text-align: center;
  height: 50px;
}

/* common style on table */
.table-field {
  margin-left: 5%;
  margin-right: 5%;
}

.table-wrap {
  padding-right: 10px;
  max-height: 50vw;
  overflow: auto;
  overflow-x: scroll;
  overflow-y: scroll;
}

.table-medicine {
  background-color: #fff;
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
.table-medicine thead tr th {
  position: sticky;
  top: 0;
}
.table-medicine th,
.table-medicine td {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.table-medicine th {
  background-color: #bbb;
}
.table-medicine tr:nth-child(odd) {
  background-color: #eee;
}

/* style on medicine-input.html */
#table-medicine-input .table-data-date {
  width: 150px;
  text-align: center;
}
#table-medicine-input .table-data-date input {
  width: 90%;
  box-sizing: border-box;
  background: transparent;
  border: none;
}
#table-medicine-input .table-data-date input::-webkit-datetime-edit {
  text-align: center;
}
#table-medicine-input
  .table-data-date
  input::-webkit-calendar-picker-indicator {
  padding: 0;
  opacity: 0;
}
#table-medicine-input
  .table-data-date
  input::-webkit-calendar-picker-indicator:hover {
  opacity: 100;
}

#table-medicine-input .table-data-name {
  width: 275px;
  text-align: center;
}
#table-medicine-input .table-data-name select {
  width: 90%;
  background: transparent;
  border: none;
  -webkit-appearance: none;
}
#table-medicine-input .table-data-name select:hover {
  -webkit-appearance: auto;
}

#table-medicine-input .table-data-amount {
  width: 100px;
  text-align: center;
}
#table-medicine-input .table-data-amount input {
  width: 90%;
  box-sizing: border-box;
  background: transparent;
  border: none;
  text-align: right;
}

#table-medicine-input .table-data-deletion {
  width: 25px;
  text-align: center;
}

.delete-button {
  height: 1rem;
  width: 1rem;
}

.table-bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
}

#add-button,
#update-button {
  height: 25px;
  width: 25px;
}

/* style on medicine-summary.html */
#table-medicine-summary .table-data-name {
  width: 250px;
}

#table-medicine-summary .table-data-amount {
  width: 100px;
}

#table-medicine-summary tbody .table-data-name {
  text-align: left;
  padding: 0.2rem 1rem 0.2rem 1rem;
}

#table-medicine-summary tbody .table-data-amount {
  text-align: right;
  padding: 0.2rem 1rem 0.2rem 1rem;
}
