{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content%}
<h2>入力</h2>
<ul class="input-list">
  <li>
    <a href="medicine.html">
      <img
        class="nav-logo"
        src="{{ url_for('static', filename='images/medicine.png') }}"
        alt="病院"
      />
      <br />医療
    </a>
  </li>
  <li>
    <a href="summary.html">
      <img
        class="nav-logo"
        src="{{ url_for('static', filename='images/donation.png') }}"
        alt="募金箱"
      />
      <br />寄付
    </a>
  </li>
  <li>
    <a href="summary.html">
      <img
        class="nav-logo"
        src="{{ url_for('static', filename='images/investment.png') }}"
        alt="株式チャート"
      />
      <br />投資
    </a>
  </li>
</ul>
{% endblock %}
