{% extends 'base.html' %}

{% block title %}
Medicine
{% endblock %}

{% block content %}
<div class="table-field">
  <select id="year-select"></select>
  <label for="year-select">年</label>
  <div class="summary-table-wrap">
    <table id="summary-table-medicine" class="summary-table">
      <thead>
        <tr>
          <th class="table-data-date">日付</th>
          <th class="table-data-name">支払先</th>
          <th class="table-data-amount">金額</th>
          <th class="table-data-operations"></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
  <p class="table-bottom">
    <input id="update-button" type="submit" value="更新" />
    <input
      id="add-button"
      type="image"
      src="{{ url_for('static', filename='images/plus.png') }}"
      alt="追加ボタン"
    />
  </p>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
{% endblock %}
